* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Colors */
:root {
  --bg: hsla(210, 46%, 95%, 1);
  --white: rgba(246, 246, 246, 0.95);
  --grey-100: hsla(217, 19%, 35%, 1);
  --grey-75: hsla(214, 17%, 51%, 1);
  --grey-50: hsla(212, 23%, 69%, 1);
  --warm-gray: hsla(0, 0%, 59%, 1);
  --green: hsl(161, 45%, 32%);
}
/* Styles */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: var(--bg);
}
main {
  max-width: 45.625rem;
  border-radius: 10px;
  margin: 1.5rem;
  box-shadow: 0px 40px 40px -10px rgba(183, 199, 216, 0.3);
  background-color: white;
  display: grid;
  grid-template-columns: 1.2fr 1.8fr;
}
.picture {
  overflow: hidden;
  border-radius: 10px 0 0 10px;
}
.img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
  border-radius: 10px 0 0 10px;
  transform: scale(1.1);
  filter: grayscale(0.3);
  transition: ease-out 0.3s;
}
.img-cover:hover {
  transform: scale(1.2);
}
.text-content {
  display: flex;
  flex-direction: column;
  padding: 1.6rem;
  gap: 1.8rem;
}
.heading-primary {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 28px;
  letter-spacing: 0.25px;
  color: var(--grey-100);
}
.heading-secondary {
  font-weight: 700;
  font-size: 0.8rem;
  line-height: 1.25rem;
  letter-spacing: 0.13px;
  color: var(--grey-75);
}
.sub-dis {
  font-weight: 500;
  font-size: 0.82rem;
  line-height: 1.25rem;
  letter-spacing: 0.13px;
  color: var(--grey-75);
}
.author-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.author-img {
  width: 3.2rem;
  border-radius: 50%;
}
.date {
  font-weight: 500;
  font-size: 0.8125rem;
  line-height: 1;
  letter-spacing: 0.12px;
  color: var(--grey-50);
}
.box-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: rotate(45deg);
}
.card {
  background-color: var(--grey-100);
  padding: 0.8rem 2rem;
  gap: 1.6rem;
  position: absolute;
  border-radius: 12px;
  justify-content: center;
  align-items: center;
  transform: translate(-7rem, -4rem);
  animation: bottomtotop 0.6s;
  display: none;
}
.ac-card {
  display: flex;
}
.btn-box {
  position: relative;
}
.title {
  font-weight: 500;
  color: var(--grey-50);
  text-transform: uppercase;
  opacity: 75%;
  font-size: 0.8125rem;
  letter-spacing: 0.3125rem;
}
.list {
  list-style: none;
  display: flex;
  gap: 0.8rem;
}
.reg {
  width: 2rem;
  height: 2rem;
  background-color: var(--grey-100);
  position: absolute;
  z-index: -2;
  transform: translate(0, 1.2rem) rotate(45deg);
}
/* Animation */
@keyframes bottomtotop {
  0% {
    transform: translate(0, -4rem);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(-7rem, -4rem);
  }
}

@media (max-width: 930px) {
  .card {
    transform: translate(-12rem, -4rem);
  }
  .reg {
    transform: translate(5rem, 1.2rem) rotate(45deg);
  }
  @keyframes bottomtotop {
    0% {
      transform: translate(0, -4rem);
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translate(-12rem, -4rem);
    }
  }
}
@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  .picture {
    border-radius: 10px 10px 0 0;
  }
}
